# **`Project 2: Team Thomas Allinson`**

### **Objective**: Analyze the comparative costs of a vegan diet versus an omnivorous diet within the American population, with a specific focus on their environmental impact.

#### Group Members:
> Johann: johann.dicken@berkeley.edu <br>
> Laure: laureho@berkeley.edu <br>
> Reily: reilyjean@berkeley.edu <br>
> Carmen: carmenvega@berkeley.edu <br>
> Steven: k1519632@berkeley.edu <br>

### **[A]: Description of population of interest**

...descripition here...

### **[A]: Dietary Reference Intakes**

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Import Dietary Requirements spreadsheet data as a pd.DataFrame
df = pd.read_csv('Dietary_Requirements.csv')
df.head()

,Nutrition,Source,C 1-3,F 4-8,M 4-8,F 9-13,M 9-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
0,Energy,---,1000.0,1200.0,1400.0,1600.0,1800.0,1800.0,2200.0,2000.0,2400.0,1800.0,2200.0,1600.0,2000.0
1,Protein,RDA,13.0,19.0,19.0,34.0,34.0,46.0,52.0,46.0,56.0,46.0,56.0,46.0,56.0
2,"Fiber, total dietary",---,14.0,16.8,19.6,22.4,25.2,25.2,30.8,28.0,33.6,25.2,30.8,22.4,28.0
3,"Folate, DFE",RDA,150.0,200.0,200.0,300.0,300.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
4,"Calcium, Ca",RDA,700.0,1000.0,1000.0,1300.0,1300.0,1300.0,1300.0,1000.0,1000.0,1000.0,1000.0,1200.0,1000.0

Dietary function takes 2 arguments: `age`, a positive integer, and `sex`, a string (not case-senstitive) with the classification of male, female, or child.

In [4]:
def dietary_ref(age, sex):

    # Validate age input
    if not isinstance(age, int) or age <= 0:
        return "Incorrect age input. Please enter a positive integer for the age."
    
    # Normalize and validate sex input
    sex = sex.lower()
    if sex not in ['male', 'female', 'child']:
        return "Incorrect sex input. Input must be Male, Female, or Child."
    
    # Determine the appropriate column based on age and sex
    if sex == 'child':
        if age <= 3:
            col_name = 'C 1-3'
        elif age <= 8:
            col_name = 'C 4-8'
        else:
            return "Age out of range for child category."
    else:
        if age <= 8:
            col_name = f"{'F' if sex == 'female' else 'M'} 4-8"
        elif age <= 13:
            col_name = f"{'F' if sex == 'female' else 'M'} 9-13"
        elif age <= 18:
            col_name = f"{'F' if sex == 'female' else 'M'} 14-18"
        elif age <= 30:
            col_name = f"{'F' if sex == 'female' else 'M'} 19-30"
        elif age <= 50:
            col_name = f"{'F' if sex == 'female' else 'M'} 31-50"
        else:
            col_name = f"{'F' if sex == 'female' else 'M'} 51+"
    
    # Extract and return the relevant nutrient recommendations
    if col_name in df.columns:
        return df[['Nutrition', col_name]].set_index('Nutrition')[col_name]
    else:
        return "Matching column not found in DataFrame. Check the column names."

In [5]:
# Example usage
dietary_ref(15, 'Male')

Nutrition
Energy                            2200.0
Protein                             52.0
Fiber, total dietary                30.8
Folate, DFE                        400.0
Calcium, Ca                       1300.0
Carbohydrate, by difference        130.0
Iron, Fe                            11.0
Magnesium, Mg                      410.0
Niacin                              16.0
Phosphorus, P                     1250.0
Potassium, K                      4700.0
Riboflavin                           1.3
Thiamin                              1.2
Vitamin A, RAE                     900.0
Vitamin B-12                         2.4
Vitamin B-6                          1.3
Vitamin C, total ascorbic acid      75.0
Vitamin E (alpha-tocopherol)        15.0
Vitamin K (phylloquinone)           75.0
Zinc, Zn                            11.0
Name: M 14-18, dtype: float64

In [2]:
import pandas as pd

tbl1 = pd.read_csv('SuEatableLife_Food_Fooprint_database.xlsx - SEL CF for users.csv')
# omnivore_recipe = (omnivore_recipe).assign(ingred_code = lambda df: df["ingred_code"].apply(format_id).rename(columns={"parent_desc": "recipe"}))

In [3]:
tbl2 = pd.read_csv('SuEatableLife_Food_Fooprint_database.xlsx - SEL WF for users.csv')
# omnivore_recipe = (omnivore_recipe).assign(ingred_code = lambda df: df["ingred_code"].apply(format_id).rename(columns={"parent_desc": "recipe"}))

In [4]:
# Merged SUEatableLife tables
import pandas as pd 

merged_tbls = pd.merge(tbl1, tbl2, on=["Food commodity ITEM", "Food commodity ITEM"], how="inner")

# Save the merged result to a new CSV file
merged_tbls.to_csv("merged_output.csv", index=False)
merged_tbls

,FOOD COMMODITY GROUP_x,Food commodity ITEM,Carbon Footprint kg CO2eq/kg or l of food ITEM,Uncertainty low (L) high (H),Suggested CF value,Food commodity TYPOLOGY_x,Carbon Footprint g CO2eq/g o cc of food TYPOLOGY,Food commodity sub-TYPOLOGY_x,Carbon Footprint g CO2eq/g o cc of food sub-TYPOLOGY,FOOD COMMODITY GROUP_y,Water Footprint liters water/kg o liter of food ITEM,Uncertainty low (L) high (H),Suggested WF value,Food commodity TYPOLOGY_y,Water Footprint cc water/g o cc of food TYPOLOGY,Food commodity sub-TYPOLOGY_y,Water Footprint cc water/g o cc of food sub-TYPOLOGY
0,AGRICULTURAL PROCESSED,CHOCOLATE OR CREAM FILLED COOKIES**,1.53,L,OK item,BISCUITS,1.47,-,-,AGRICULTURAL PROCESSED,2902.0,L,ok item,BISCUITS,1870.0,-,-
1,AGRICULTURAL PROCESSED,SIMPLE COOKIES**,1.39,L,OK item,BISCUITS,1.47,-,-,AGRICULTURAL PROCESSED,1723.0,L,ok item,BISCUITS,1870.0,-,-
2,AGRICULTURAL PROCESSED,BREAD MULTICEREAL**,0.70,H,better typology,BREAD,0.86,-,-,AGRICULTURAL PROCESSED,771.0,L,better typology,BREAD,902.0,-,-
3,AGRICULTURAL PROCESSED,BREAD PLAIN**,0.89,L,OK item,BREAD,0.86,-,-,AGRICULTURAL PROCESSED,1031.0,L,ok item,BREAD,902.0,-,-
4,AGRICULTURAL PROCESSED,BREAD WHOLE**,0.77,L,OK item,BREAD,0.86,-,-,AGRICULTURAL PROCESSED,887.0,L,ok item,BREAD,902.0,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,FISHING,CARP,1.76,H,better typology,FISH,5.19,-,-,FISHING,2364.0,L,ok item,FISH,2313.0,-,-
123,FISHING,COD,3.08,L,OK item,FISH,5.19,-,-,FISHING,2782.0,L,ok item,FISH,2313.0,-,-
124,FISHING,SALMON,3.37,L,OK item,FISH,5.19,-,-,FISHING,2193.0,L,ok item,FISH,2313.0,-,-
125,FISHING,TROUT,4.20,L,OK item,FISH,5.19,-,-,FISHING,2188.0,L,ok item,FISH,2313.0,-,-
126,FISHING,TURBOT,14.51,H,better typology,FISH,5.19,-,-,FISHING,1504.0,L,ok item,FISH,2313.0,-,-

### **[A]: Data on prices for different foods**

Let's import our google spreadsheet as a pd.DataFrame here!

In [6]:
# prices_df = pd.read_csv('file_name.csv')
# prices_df

In [21]:

import re

# Load the CSV file into a DataFrame
df = pd.read_csv('min_cost_data_nutrients.csv')

# Define a regex pattern for common animal products
animal_product_pattern = r'\b(butter|cheese|milk|kefir|whey|eggnog|beef|chicken|dulce|pork|egg|fish|lamb|turkey|turtle|breast|mollusks|frog|thigh|yogurt|honey|gelatin|cream|lard|sausage|anchovy|shellfish|shrimp|mayo|ham|meat)\b'

# Create a new column 'animal product' that marks items based on the pattern
df['animal product'] = df['Ingredient description'].apply(
    lambda x: 'animal product' if re.search(animal_product_pattern, str(x), re.IGNORECASE) else 'plant-based'
)

# Display the updated DataFrame
df[df['animal product'] == 'plant-based'].head(100)

,ingred_code,Ingredient description,Capric acid,Lauric acid,Myristic acid,Palmitic acid,Palmitoleic acid,Stearic acid,Oleic acid,Linoleic Acid,...,"Vitamin B-12, added",Vitamin B6,Vitamin C,Vitamin D,Vitamin E,"Vitamin E, added",Vitamin K,Water,Zinc,animal product
50,1073,"Dessert topping, semi solid, frozen",0.905,8.836,3.756,3.092,0.241,4.580,1.375,0.305,...,0.00,0.000,0.0,0.0,0.96,0.00,6.3,50.21,0.03,plant-based
128,1250,Nutritional supplement for people with diabete...,0.003,0.000,0.000,0.150,0.003,0.059,2.306,0.392,...,0.66,0.220,26.4,1.1,1.46,1.46,8.8,79.74,1.65,plant-based
157,2003,"Spices, basil, dried",0.000,0.000,0.046,1.036,0.171,1.075,1.067,0.199,...,0.00,1.340,0.8,0.0,10.70,0.00,1714.5,10.35,7.10,plant-based
158,2005,"Spices, caraway seed",0.010,0.010,0.040,0.400,0.090,0.110,7.035,3.122,...,0.00,0.360,21.0,0.0,2.50,0.00,0.0,9.87,5.50,plant-based
159,2007,"Spices, celery seed",0.020,0.020,0.020,1.290,0.240,0.390,15.450,3.520,...,0.00,0.890,17.1,0.0,1.07,0.00,0.0,6.04,6.93,plant-based
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,3171,"Babyfood, juice, apple and prune",0.000,0.000,0.000,0.016,0.000,0.002,0.006,0.027,...,0.00,0.035,67.5,0.0,0.05,0.00,1.3,81.30,0.05,plant-based
284,3172,"Babyfood, juice, orange",0.000,0.000,0.000,0.035,0.005,0.000,0.045,0.045,...,0.00,0.054,62.5,0.0,0.04,0.00,0.1,88.50,0.06,plant-based
285,3174,"Babyfood, juice, orange and apple and banana",0.000,0.000,0.000,0.014,0.001,0.001,0.007,0.022,...,0.00,0.062,32.1,0.0,0.02,0.00,0.1,87.60,0.03,plant-based
286,3179,"Babyfood, juice, mixed fruit",0.000,0.000,0.000,0.013,0.000,0.002,0.006,0.036,...,0.00,0.043,63.6,0.0,0.04,0.00,0.9,87.90,0.03,plant-based
287,3181,"Babyfood, cereal, barley, dry fortified",0.000,0.002,0.007,0.602,0.220,0.283,1.226,3.543,...,3.57,0.714,0.0,7.1,5.00,4.87,2.3,6.80,3.13,plant-based

### **[A]: Nutritional content of different foods**

...

### **[A]: Solution**

I think it'd be cool to make a graph for this :) For example, an overlying bar graph with different colors for sex, going across the x-axis with ages, y-axis being minimum diet cost.

In [29]:
# Code here

### **[B]: Is your solution edible?**

...

### **[B]: What is total cost for population of interest?**

In [31]:
# Import wbdata
# Code function for total cost

### **[C]: Sensitivity of Solution**

In [30]:
# Code here